In [85]:
import tweepy
import csv
import json
import pandas as pd
import requests
from bs4 import BeautifulSoup as BS
import re
import time

First part of the program where the data will be extracted and will be saved in json file

In [64]:
#loading twitter API credentials from the file which was saved
with open('twitter_credentials.json') as cred_data:
    info = json.load(cred_data)
    consumer_key = info['CONSUMER_KEY']
    consumer_secret = info['CONSUMER_SECRET']
    access_key = info['ACCESS_KEY']
    access_secret = info['ACCESS_SECRET']

In [65]:
# initialization of a list to hold all Tweets
alltweets = []

In [66]:
# Authorization and initialization
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_key, access_secret)
api = tweepy.API(auth)

In [67]:
# We will get the tweets with multiple requests of 200 tweets each
new_tweets = api.user_timeline(screen_name="midasIIITD", count=200)
# Appending the json part of the data to list
for tweet in new_tweets:
    alltweets.append(tweet._json)

In [68]:
# save id of 1 less than the oldest tweet
oldest = alltweets[-1]["id"] - 1

In [69]:
# grabbing tweets till none are left
while len(new_tweets) > 0:  
    # all subsiquent requests use the max_id param to prevent duplicates
    new_tweets = api.user_timeline(screen_name = "midasIIITD",count=200, max_id=oldest)

    # save most recent tweets
    # Appending the json part of the data to list
    for tweet in new_tweets:
        alltweets.append(tweet._json)
    oldest = alltweets[-1]["id"] - 1

    print("...%s tweets downloaded so far" % (len(alltweets)))

print("Total tweets downloaded %s" % (len(alltweets)))

...302 tweets downloaded so far
...302 tweets downloaded so far
Total tweets downloaded 302

In [92]:
# Creating a new JSON file and dumping the value into it
file = open('tweet.json', 'w')
json.dump(alltweets, file,indent = 4)

Second part of the program to parse the json file and display the output in tabular form

In [93]:
col_names = ["text", "Date and time", "number of favorites/likes", "number of retweets"]

In [94]:
# function to get no. of retweets
def get_retweet(data):
    try:
        ans = data["retweeted_status"]["retweet_count"] 
    except KeyError:
        ans = data["retweet_count"] 
    return ans

In [95]:
# function to get no. of likes
def get_favorite(data):
    try:
        ans = data["retweeted_status"]["favorite_count"] 
    except KeyError:
        ans = data["favorite_count"] 
    return ans

In [96]:
# the json which I am getting from API doen't contain information about no. of images present in tweet
# I tried to get the no. of images from HTML of tweet url but the website is restricting to get so many
# requests at the same time. So, I haven't included no. of images column
def get_photos(data):
    url = data["entities"]["urls"][0]["expanded_url"]
    r = requests.get(url)
    soup = BS(r.text)
    x = str(soup.find("div", {"class":"AdaptiveMedia-container"}))
    ans = len(set(re.findall(r'(https?://[^\s]+)', x)))
    return ans

In [97]:
# dataframe to show in tabular format
df = pd.DataFrame(columns=col_names)

In [98]:
# loading the saved JSON file
f = open("tweet.json", "rb")
data = json.load(f)

In [99]:
for tw in data:
    text = re.sub(r"http\S+", "", tw["text"])
    dt = t["created_at"].split()
    date = dt[2]+'-'+dt[1]+'-'+dt[-1]+"|"+dt[3]
    favorite = get_favorite(tw)
    retweet = get_retweet(tw)
#     images = get_photos(tw)
    df.loc[len(df)] = [text, date, favorite, retweet]

In [100]:
df

,text,Date and time,number of favorites/likes,number of retweets
0,Congratulations @midasIIITD students Simra Sha...,25-Mar-2019|13:01:57,8,1
1,The last date for submitting a solution for th...,25-Mar-2019|13:01:57,8,3
2,RT @IIITDelhi: @IIITDelhi invites application ...,25-Mar-2019|13:01:57,4,4
3,One more week is left to submit the workshop p...,25-Mar-2019|13:01:57,4,0
4,RT @IEEEBigMM19: We are honored to have Dr. Ch...,25-Mar-2019|13:01:57,6,5
5,RT @IEEEBigMM19: Distinguished researchers Dr....,25-Mar-2019|13:01:57,13,3
6,@IEEEBigMM19 is also available on Facebook now...,25-Mar-2019|13:01:57,1,1
7,RT @IEEEBigMM19: BigMM 2019 : IEEE BigMM 2019 ...,25-Mar-2019|13:01:57,6,5
8,BigMM 2019 : IEEE BigMM 2019 – Call for Worksh...,25-Mar-2019|13:01:57,6,3
9,"Congratulations @midasIIITD team, Rohan, Prady...",25-Mar-2019|13:01:57,15,4
10,We have emailed the task details to all shortl...,25-Mar-2019|13:01:57,7,0
11,IEEE BigMM 2019 - Call for Workshop Proposals....,25-Mar-2019|13:01:57,1,1
12,"Congratulations! Arijit, Ramit, @debanjanbhucs...",25-Mar-2019|13:01:57,7,2
13,We will be releasing a very interesting task t...,25-Mar-2019|13:01:57,7,2
14,RT @hcdiiitd: Last day to register for #Portfo...,25-Mar-2019|13:01:57,6,2
15,@ACMMM19 @sigmm @TheOfficialACM @acmmmsys @ACM...,25-Mar-2019|13:01:57,1,0
16,RT @ACMMM19: The paper deadline is approaching...,25-Mar-2019|13:01:57,14,13
17,RT @kaggle: Bookmark this amazing library of i...,25-Mar-2019|13:01:57,236,67
18,Awesome members of our @midasIIITD team who ar...,25-Mar-2019|13:01:57,16,4
19,"@saanidhi @ACMMM19 Before Friday, 15th March.",25-Mar-2019|13:01:57,0,0
20,We are glad to inform that Adobe is launching ...,25-Mar-2019|13:01:57,4,0
21,We will email tasks to all shortlisted candida...,25-Mar-2019|13:01:57,3,0
22,@ACMMM19 @ACM_MM2018 @acmmm17 @sigmm @ACM Less...,25-Mar-2019|13:01:57,1,1
23,RT @kdnuggets: Face Recognition using One-Shot...,25-Mar-2019|13:01:57,141,64
24,@AvinashSwamina2 @IIITDelhi No. They will be g...,25-Mar-2019|13:01:57,1,0
25,We are in the process of finalizing the shortl...,25-Mar-2019|13:01:57,8,4
26,@ylecun @NilayShri @the_dhumketu @debanjanbhuc...,25-Mar-2019|13:01:57,3,0
27,RT @kdnuggets: Python Data Science for Beginne...,25-Mar-2019|13:01:57,45,22
28,RT @stanfordnlp: Useful feature of our Python ...,25-Mar-2019|13:01:57,127,35
29,"@NilayShri @NilayShri, Certain thing! The next...",25-Mar-2019|13:01:57,1,0
...,...,...,...,...
272,RT @TensorFlow: TensorFlow 1.10.0 has been rel...,25-Mar-2019|13:01:57,568,265
273,@midasIIITD is looking for motivated IIITD MTe...,25-Mar-2019|13:01:57,2,1
274,@IIITDelhi @ponguru @RatnRajiv The results of ...,25-Mar-2019|13:01:57,3,1
275,RT @IIITDelhi: @midasIIITD has secured rank 1 ...,25-Mar-2019|13:01:57,6,1
276,RT @kdnuggets: Comparison of Top 6 Python NLP ...,25-Mar-2019|13:01:57,88,40
277,Check more details of the 20th IEEE Internatio...,25-Mar-2019|13:01:57,1,1
278,MR2AMC@ISM 2018 will be organized by @RatnRaji...,25-Mar-2019|13:01:57,1,1
279,"Our workshop proposal named, ""MR2AMC: Multimod...",25-Mar-2019|13:01:57,1,1
280,@NUSComputing Congratulations Abdelhak and Pro...,25-Mar-2019|13:01:57,0,0
281,RT @goodfellow_ian: One of the most anticipate...,25-Mar-2019|13:01:57,424,103
282,@the_dhumketu Great to have you in @midasIIITD,25-Mar-2019|13:01:57,0,0
283,Congratulation @soujanyaporia for being appoin...,25-Mar-2019|13:01:57,6,1
284,@IIITDelhi @the_dhumketu Thanks team @midasIIITD,25-Mar-2019|13:01:57,5,1
285,RT @IIITDelhi: Congratulations @midasIIITD int...,25-Mar-2019|13:01:57,7,4
286,RT @learning_pt: Profile of the 5 Indian under...,25-Mar-2019|13:01:57,4,4
287,Have a look at the list of accepted papers in ...,25-Mar-2019|13:01:57,1,0
288,RT @goodfellow_ian: TensorFuzz automates the ...,25-Mar-2019|13:01:57,758,264
289,RT @IIITDelhi: Congratulations Dr. @RatnRajiv ...,25-Mar-2019|13:01:57,14,2
290,"RT @ylecun: Jitendra Malik, who directs FAIR-M...",25-Mar-2019|13:01:57,218,57
291,RT @kdnuggets: .@Bloomberg launches free cours...,25-Mar-2019|13:01:57,225,105
292,RT @TechAtBloomberg: Missed #PyLondinium18? Wa...,25-Mar-2019|13:01:57,7,7
293,RT @IIITDelhi: We are delighted to announce th...,25-Mar-2019|13:01:57,36,6
294,Get ready for the annual technical fest of @II...,25-Mar-2019|13:01:57,3,2
295,Congratulations Dr. @RatnRajiv and team @midas...,25-Mar-2019|13:01:57,8,2
296,Congratulations MIDAS @midasIIITD intern Prakh...,25-Mar-2019|13:01:57,5,1
297,MIDAS@IIITD foundation.,25-Mar-2019|13:01:57,2,1
298,It feels great to be the part of @IIITDelhi.,25-Mar-2019|13:01:57,2,1
299,"Thank you, @toonzratn for designing the logo o...",25-Mar-2019|13:01:57,4,1
300,We are on Facebook too. Like our page to get o...,25-Mar-2019|13:01:57,3,1
301,MIDAS is a group of researchers at IIIT-Delhi ...,25-Mar-2019|13:01:57,7,4